<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel='stylesheet'>

</head>
<style>
    body {
        background-color: #f9f9f9;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .navbar {
        background-color: rgb(234, 245, 247) !important;
    }

    .gallery-header {
        text-align: center;
        margin-bottom: 3rem;
    }

    .gallery-header h2 {
        font-weight: 700;
        color: #17a2b8;
    }

    .gallery-block {
        padding: 60px 0;
    }

    .gallery-img {
        position: relative;
        overflow: hidden;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        transition: transform 0.4s ease, box-shadow 0.4s ease;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f9f9f9;
    }

    .gallery-img img {
        width: 100%;
        height: 100%;
        object-position: center;
        border-radius: 12px;
        transition: transform 0.3s ease;
    }

    /*.gallery-img:hover .overlay {*/
    /*    bottom: 0;*/
    /*    height: 100%;*/
    /*}*/

    .delete {
        white-space: nowrap;
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

</style>

<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-light  mb-4" style="background-color: rgb(234 245 247) !important">
    <div class="container">
        <a class="navbar-brand text-info" href="/"> 📸 Image Upload App </a>
        <a class="btn btn-outline-info ms-auto" href="/add">Add Image/Images</a>
    </div>
</nav>
<main class="container">

</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>