<%- include('partials/header',{title:"Add Post"}) %>

<h2 class="mb-4 w-50 mx-auto">Add A New Image/Images</h2>
<form method="POST" enctype="multipart/form-data" action="/create" class="card p-4 shadow-sm bg-light w-50 mx-auto">
    <div class="mb-3">
        <input type="file" class="custom-file-input" id="image" name="files[]" multiple required/>
    </div>
    <button class="btn btn-success">Save</button>
</form>
