<%- include('partials/header',{title:"Add Post"}) %>

<h2 class="mb-4 w-50 mx-auto">Add A New Image/Images</h2>
<form method="POST" enctype="multipart/form-data" action="/create" class="card p-4 shadow-sm bg-light w-50 mx-auto">
<!--    <div class="mb-3">-->
<!--        <label for="title" class="form-label">Title</label>-->
<!--        <input type="text" class="form-control" id="title" name="title" placeholder="Post Title" required>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--        <label for="content" class="form-label">Content</label>-->
<!--        <textarea class="form-control" id="content" name="content" rows="5" placeholder="Post Content" required></textarea>-->
<!--    </div>-->
    <div class="mb-3">
        <input type="file" class="custom-file-input" id="image" name="files[]" multiple required/>
    </div>
    <button class="btn btn-success">Save</button>
</form>

<%- include('partials/footer') %>